.error-popup {
    background-color: rgb(255, 231, 231);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(124, 73, 73);
}
.error-popup>p,.success-popup>p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.success-popup {
    background-color: rgb(231, 255, 235);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(99, 164, 99);
}
.page-not-found-container {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-not-found-container>h1 {
    color: rgb(167, 167, 167);
}
.user-grid {
    height: 75vh;
    overflow: scroll;
}
.op-1 {
    z-index: 1;
}
.model-container {
    background-color: rgba(95, 95, 95, 0.411);
    height: 130vh;
    width: 100vw;
    position: absolute;
    top: -200px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:scroll;
}
.model-container::-webkit-scrollbar {
    display: none;
}
.model-container>div {
    width: 70%;
    position: relative;
    top: 200px;
    background-color: white;
    border-radius: 20px;
}

.loader-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.loader-icon {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.358);
    border-radius: 50%;
    animation: loading 1s linear infinite alternate-reverse;
}

@keyframes loading {
    0% {
        width: 70px;
        height: 70px;
    }
    50% {
        width: 100px;
        height: 100px;
    }
    100% {
        width: 70px;
        height: 70px;
    }
}